In [10]:
#Induction_3_RunASimpleQuery.sql
#You will need to manually amend the target datasets for this script

library(bigrquery)

# Store the project ID
project_id = "yhcr-prd-phm-bia-core"

# Amend these to "point" at the datasets you want to query

targetdb2 <-'yhcr-prd-phm-bia-core.CB_MYSPACE_Airelogic'
targetdb2 <-gsub(' ','',targetdb2)
print (targetdb1)


targetdb1 <-'yhcr-prd-phm-bia-core.CB_FDM_MASTER'
targetdb1 <-gsub(' ','',targetdb1)
print (targetdb1)

[1] "yhcr-prd-phm-bia-core.CB_MYSPACE_Airelogic"
[1] "yhcr-prd-phm-bia-core.CB_FDM_MASTER"

In [4]:
#List the tables in a dataset 
tables = bq_dataset_tables('yhcr-prd-phm-bia-core.CB_MYSPACE_Airelogic')
#This displays it
tables

[[1]]
<bq_table> yhcr-prd-phm-bia-core.CB_MYSPACE_Airelogic.asa_table

[[2]]
<bq_table> yhcr-prd-phm-bia-core.CB_MYSPACE_Airelogic.mortality_asa_table

[[3]]
<bq_table> yhcr-prd-phm-bia-core.CB_MYSPACE_Airelogic.test

In [11]:

#Define the query
sql3 <-paste('select distinct a.person_id, a.age
from  ',targetdb2,'.mortality_asa_table a 
, ',targetdb1,'.person b 
where a.person_id = b.person_id 
and b.birth_datetime > "2020-05-01" 
order by a.person_id limit 1000  ;', sep = "")

#This runs it
tb3 <- bq_project_query(project_id, sql3)

#This loads  it into an R data frame called table
table <- bq_table_download(tb3)
#This displays it
table

   person_id age
1  10427032  2
2  10669389  1
3  11104017  3
4  12403442  1
5  12412236  2
6  12444743  2
7  12532921  3
8  12772481  1
9  13233935  2
10 13302660  2
11 13432898  3
12 13567427  1
13 13584861  2
14 14793228  1