In [1]:
#PART1
#You will need to manually amend the target datasets for this script

library(bigrquery)

# Store the project ID
project_id = "yhcr-prd-phm-bia-core"

# Amend these to "point" at the datasets you want to query

targetdb1 <-'yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V8'
targetdb1 <-gsub(' ','',targetdb1)
print (targetdb1)



targetdb2 <-'yhcr-prd-phm-bia-core.CB_MYSPACE_JDB'
targetdb2 <-gsub(' ','',targetdb2)
print (targetdb2)

[1] "yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V8"
[1] "yhcr-prd-phm-bia-core.CB_MYSPACE_JDB"

In [4]:
#PART2
# Firstly use the person table in the FDM to find the person_id'd
# Open HowToBuildACohort_BasedonAge.sql  in Bigquery to show 
# in BigQuery interface


sql3 <-paste('SELECT person_id
, birth_datetime 
, CURRENT_DATE() as todaysDate
,DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) as currage
,EXTRACT(YEAR FROM birth_datetime ) AS yearborn
FROM ',targetdb1,'.person b 
where DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) >= 64 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) <=95
and death_datetime is not null ;', sep = "")
#This runs it
tb3 <- bq_project_query(project_id, sql3)

#This loads  it into an R data frame
table <- bq_table_download(tb3)
#This displays it
#table

In [2]:
#PART3
# Using the query above create a temporary table in MYSPACE
# with just these person_id's

sql4 <-paste('create or replace table ',targetdb2,'.tmp_cohort
as 
SELECT person_id
FROM ',targetdb1,'.person b 
where DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) >= 64 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) <= 95
and death_datetime is not null ;', sep = "")
#This runs it
tb4 <- bq_project_query(project_id, sql4)

#This loads  it into an R data frame
table <- bq_table_download(tb4)
#This displays it
#table

In [3]:
#PART4
#Finally extract the coded data for this cohort into a
# data frame 
#then into another temporary table in MYSPACE


sql5 <-paste('select distinct a.person_id, 
a.ctv3code,
 from ',targetdb1,'.tbl_srcode a, ',targetdb2,'.tmp_cohort b 
where a.person_id = b.person_id ', sep = "")
#This runs it
tb5 <- bq_project_query(project_id, sql5)

#This loads  it into an R data frame
table <- bq_table_download(tb5)
#This displays it
table

         person_id ctv3code
1        10445703  2469.
2         1051284  42L..
3        12798226  X74UV
4        13014612  X77Wi
5        13324090  Y0529
6        13610366  Xa05Q
7        12769142  XE2m6
8        13153530  42P..
9        13207472  XM1T1
10       13089538  Xa8Ai
11       12797107  4146.
12       12888565  Xa6nc
13       13387047  Y01fc
14       12473872  XE0Uc
15       13098686  8HE4.
16       13534392  XE25R
17       13118431  426..
18       12646228  XE25Z
19       13236837  X77Wg
20       12982453  XM0lt
21       12493135  8CA..
22       13025974  7E043
23       12431354  XaJ9E
24       13695680  XaKHK
25       13002687  X7ADl
26       12991833  7G2F4
27       13544359  XaKAk
28         159748  XaLJx
29       12686409  XaRFG
30       13003866  42N..
⋮        ⋮         ⋮
17489082 12637344  6798.
17489083 13391571  XE25A
17489084 13233332  6333.
17489085 13590678  XaaPo
17489086 13497236  94B..
17489087 13230411  H27..
17489088 13343780  Y3501
17489089   186248  XE25q
17489090 13564128  8H54.
17489091 13410215  663W.
17489092 13750932  XM0ly
17489093 12625174  Ub1vc
17489094 12785712  XaJLG
17489095 12774476  Ua2BG
17489096 13261336  Xa2bY
17489097 12548050  Y29e7
17489098 13069849  8A...
17489099 12778303  24F8.
17489100 12837618  F110.
17489101 13744662  663C.
17489102 12879409  25Q..
17489103 13500401  43GT.
17489104 13329595  6B...
17489105  1000574  9S1..
17489106 12757465  Xa8D0
17489107 12698326  136..
17489108 12784532  Ub0o6
17489109 12738971  X3003
17489110 12625451  C1090
17489111 13414197  XagP6

In [21]:
#PART5
# I can use two ways of writing this datafram back to MYSPPACE

# either use a create table sql script  or write the dataframe produced
# in Part4 (above) and write this back as a table.

#So creating a table

sql5 <-paste('create table ',targetdb2,'.tmp_mydata 
as select distinct a.person_id, 
a.ctv3code,
 from ',targetdb1,'.tbl_srcode a, ',targetdb2,'.tmp_cohort b 
where a.person_id = b.person_id ', sep = "")
#This runs it
tb5 <- bq_project_query(project_id, sql5)

#essentially this reruns the code above

In [23]:
#PART6
#or 

#Ensure Part4 has been run or we will have no dataframe called "table"

#Now we will write back the data we got from our dataframe  above into a table in out MYSPACE
#called tmp_mydata2 to show the difference

mybq = bq_table(project='yhcr-prd-phm-bia-core', dataset='CB_MYSPACE_JDB', table='tmp_mydata2')
bq_table_upload(x=mybq, values=table, create_disposition='CREATE_IF_NEEDED', 
                write_disposition='WRITE_APPEND')