In [2]:
#5_QueryDataUsingOpenSafelyCodelist.ipynb



library(bigrquery)
library(lubridate) # required for datetime



project_id = "yhcr-prd-phm-bia-core"

targetdb <-'yhcr-prd-phm-bia-core.CB_MYSPACE_JDB'
sourcedb <-'yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V8'

In [6]:
sql63 <-paste('SELECT distinct per.person_id 
, date_diff(current_date,birth_datetime,YEAR) as age
 FROM ', targetdb , '.diabetes dat
 , ' ,sourcedb,'.tbl_srcode sr
 , ' ,sourcedb,'.person per
 where dat.code = sr.ctv3code
 and sr.person_id = per.person_id 
 and date_diff(current_date,birth_datetime,YEAR)  < 24 ', sep = "")

tb63 <-bq_project_query(project_id, sql63)


table <- bq_table_download(tb63)
# This line below just displays the data.
table

    person_id age
1   13726531  22
2   13558041  23
3   12907090  19
4   13027428  18
5     986981  21
6   13184791  18
7   13017360  21
8   13427628  11
9      46078  22
10  13672630  19
11  12670693  21
12  12451054  22
13  13317427  22
14  13711296  20
15  12838786  17
16  12755736  22
17  13618863  14
18  12825558  17
19  12621127  17
20  13553514  20
21  12781396  16
22  12772613  21
23  13202143  21
24  13021119  21
25  12793280  20
26  13455049  17
27  13758697  18
28  12657393  17
29    625476  21
30  13731789  19
⋮   ⋮         ⋮
94   1654179  20
95  12502269  14
96  12596952  22
97  13009014  17
98  12925991  18
99  13687504  21
100 13753454  16
101 13175285  19
102 12542657  22
103 12753369  18
104 13569084  19
105 12595854  23
106 13134678  22
107 12778950  23
108   299865  23
109 13413807  19
110 13753179  23
111 13664459  18
112 13146419  22
113 13074106  21
114 12579424  15
115 13144377  17
116 13134577  22
117 13635787  18
118 13108191  14
119 12627333  21
120 13017361  23
121 12984237  21
122 12602417  14
123 12394297  20

In [8]:
sql63 <-paste('SELECT count(per.person_id) 
 FROM ', targetdb , '.diabetes dat
 , ' ,sourcedb,'.tbl_srcode sr
 , ' ,sourcedb,'.person per
 where dat.code = sr.ctv3code
 and sr.person_id = per.person_id 
 and date_diff(current_date,birth_datetime,YEAR)  < 24 ', sep = "")

tb63 <-bq_project_query(project_id, sql63)


table <- bq_table_download(tb63)
# This line below just displays the data.
table

  f0_
1 251

In [ ]:
sql63 <-paste('SELECT distinct per.person_id 
, date_diff(current_date,birth_datetime,YEAR) as age
, sr.dateeventrecorded
 FROM ', targetdb , '.tuberculosis tub
 , ' ,sourcedb,'.tbl_srcode sr
 , ' ,sourcedb,'.person per
 where tub.code = sr.ctv3code
 and sr.person_id = per.person_id 
 and sr.dateeventrecorded >"1969-12-31 23:59:59" ', sep = "")

tb63 <-bq_project_query(project_id, sql63)


table <- bq_table_download(tb63)
# This line below just displays the data.
table