In [1]:
#PART1
#You will need to manually amend the target datasets for this script

library(bigrquery)
library(pryr)


# Store the project ID
project_id = "yhcr-prd-phm-bia-core"

# Amend these to "point" at the datasets you want to query

targetdb1 <-'yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V8'
targetdb1 <-gsub(' ','',targetdb1)
print (targetdb1)



targetdb2 <-'yhcr-prd-phm-bia-core.CB_MYSPACE_JDB'
targetdb2 <-gsub(' ','',targetdb2)
print (targetdb2)

[1] "yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V8"
[1] "yhcr-prd-phm-bia-core.CB_MYSPACE_JDB"

In [2]:
#Were going to build a dataframe with everything we need in it
#ready to analyse

sql3 <-paste('SELECT b.*
FROM ',targetdb1,'.person b 
where DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) >= 64 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) <=95
and death_datetime is not null ;', sep = "")
#This runs it
tb3 <- bq_project_query(project_id, sql3)

#This loads  it into an R data frame
table <- bq_table_download(tb3)
#This displays it
#table

In [3]:
# Now were going to run the same query but join it to the srcode table

# Were just going to go ahead and build a huge dataframe based on the first query and the second 

sql5 <-paste('select distinct 
a.*, 
b.*
 from ',targetdb1,'.tbl_srcode a,
',targetdb1,'.person b 
where a.person_id = b.person_id 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) >= 64 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) <=95
and death_datetime is not null limit 1000000', sep = "")
#This runs it
tb5 <- bq_project_query(project_id, sql5)

#This loads  it into an R data frame
table <- bq_table_download(tb5)
#This displays it
#table

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

In [4]:
#This dataset contains the total number of columns of both tables 
#and 86,128,614 rows of data if not limited to 1000000 rows.

#object_size(mean)
object_size(table)

#The object size for 1 million rows is 370mb.
#so for the full dataset this would be 
#31,906 Mb (approx 28Gb)

371.26 MB