In [1]:
#PART1
#You will need to manually amend the target datasets for this script

library(bigrquery)
library(pryr)

# Store the project ID
project_id = "yhcr-prd-phm-bia-core"

# Amend these to "point" at the datasets you want to query
targetdb1 <-'yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V8'
targetdb1 <-gsub(' ','',targetdb1)
print (targetdb1)

targetdb2 <-'yhcr-prd-phm-bia-core.CB_MYSPACE_JDB'
targetdb2 <-gsub(' ','',targetdb2)
print (targetdb2)

[1] "yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V8"
[1] "yhcr-prd-phm-bia-core.CB_MYSPACE_JDB"

In [2]:
#Were going to build a dataframe with everything we need in it
#ready to analyse

sql3 <-paste('SELECT b.*
FROM ',targetdb1,'.person b 
where DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) >= 64 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) <=95
and death_datetime is not null ;', sep = "")
#This runs it
tb3 <- bq_project_query(project_id, sql3)

#This loads  it into an R data frame
table <- bq_table_download(tb3)
#This displays it
#table

In [3]:
# Now were going to run the same query but join it to the srcode table

# Were just going to go ahead and build a huge dataframe based on the first query and the second 

sql5 <-paste('select distinct 
a.*, 
b.*
 from ',targetdb1,'.tbl_srcode a,
',targetdb1,'.person b 
where a.person_id = b.person_id 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) >= 64 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) <=95
and death_datetime is not null limit 1000000', sep = "")
#This runs it
tb5 <- bq_project_query(project_id, sql5)

#This loads  it into an R data frame
table <- bq_table_download(tb5)
#This displays it
#table

Warning message in as.integer.integer64(x):
“NAs produced by integer overflow”

In [4]:
#This dataset contains the total number of columns of both tables 
#and 86,128,614 rows of data if not limited to 1000000 rows.

#object_size(mean)
object_size(table)

#The object size for 1 million rows is 370mb.
#so for the full dataset this would be 
#31,906 Mb (approx 28Gb)

371.26 MB

In [3]:
# Now were going to run the same query but join it to the srcode table

# Were just going to go ahead and build a huge dataframe based on the first query and the second 

sql5 <-paste('select distinct 
b.person_id, 
DATE_DIFF(CURRENT_DATE(),b.birth_datetime,YEAR) as age,
a.ctv3code
 from ',targetdb1,'.tbl_srcode a,
',targetdb1,'.person b 
where a.person_id = b.person_id 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) >= 64 
and DATE_DIFF(CURRENT_DATE(),birth_datetime,YEAR) <=95
and death_datetime is not null limit 1000000', sep = "")
#This runs it
tb5 <- bq_project_query(project_id, sql5)

#This loads  it into an R data frame
table2 <- bq_table_download(tb5)
#This displays it
#table2

object_size(table2)

        person_id age ctv3code
1       13181952  64  XaEFp
2         842078  64  XaADJ
3       12889723  64  XE2pb
4       12571257  64  Y0426
5         514899  64  3615.
6       13221541  64  XM1YI
7       12831970  64  XaZq8
8       13409726  64  XE2q3
9       12538148  64  XE2q5
10      13216743  64  XE2wy
11      13269395  64  oa1l.
12      12628150  64  Xa22i
13      12786610  64  24E6.
14      13409737  64  2F13.
15      13712307  64  XaG6A
16       1314438  64  9NC..
17      12659070  64  XaCJj
18      12571257  64  XaLJx
19      13729372  64  42L..
20      13732271  64  XaX2s
21      12828089  64  XaIeS
22      13011287  64  XaMJa
23      12581654  64  XM0lt
24      12968436  64  XaCJj
25      12686920  64  42N..
26      12565425  64  Y0abd
27      12761954  64  XE0eW
28      12896604  64  X905U
29      12818345  64  22K..
30      12428347  64  Xaa6j
⋮       ⋮         ⋮   ⋮
999971    589713  95  XaJO9
999972  12714999  95  XaZ0d
999973  12637999  95  Y036e
999974  12717703  95  XE0Xs
999975  12916423  95  4671.
999976  13314850  95  X7ACH
999977    399013  95  XaF8d
999978  13215171  95  XaIPj
999979  13675635  95  wm9a.
999980  13277999  95  1991.
999981  13153534  95  XaBTS
999982  12684045  95  XaIfN
999983  13480701  95  XE1Sf
999984  13059513  95  8B3H.
999985  12554202  95  8D4..
999986  13450128  95  8C...
999987  13300249  95  Xa9yz
999988  13542463  95  XaJv3
999989  13303503  95  XaX4s
999990  13410768  95  X77W9
999991  13714955  95  XE2a7
999992  12401969  95  2431.
999993  13255258  95  N094D
999994  12792131  95  Xa2my
999995  12481925  95  XaBSm
999996  13616479  95  XaXOj
999997  12788391  95  3980.
999998  13654769  95  13...
999999  12454152  95  1822.
1000000 12415707  95  XaJd8

17.78 MB

In [4]:
object_size(table2)

17.78 MB